*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(74, 74, 74);
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin-left: 10vw;
    height: auto;
}
.logo #uad img{
    width: 100px;
}
.logo #fai img {
    width: 100px;
}
.image{
    background-image: url("https://raw.githubusercontent.com/dear30/media-pembelajaran/main/assets/welcome/welcomepc.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: 100%;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: absolute;

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .image {
            background-image: url("https://raw.githubusercontent.com/dear30/media-pembelajaran/main/assets/welcome/welcomehp.png");
            background-repeat: no-repeat;
            background-position: right top;
            background-attachment: fixed;
            background-size: 100%;
            width: 100vw;
            height: 100%;
            overflow: hidden;
            position: absolute;
    
        }
    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        margin-left: 5vw;
        height: auto;
    }
    .logo #uad img {
        width: 50px;
    }
    .logo #fai img {
        width: 50px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .image {
            background-image: url("https://raw.githubusercontent.com/dear30/media-pembelajaran/main/assets/welcome/welcomehp.png");
            background-repeat: no-repeat;
            background-position: right top;
            background-attachment: fixed;
            background-size: 100%;
            width: 100vw;
            height: 100%;
            overflow: hidden;
            position: absolute;
    
        }
        .logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90vw;
            margin-left: 5vw;
            height: auto;
        }

        .logo #uad img {
            width: 75px;
        }

        .logo #fai img {
            width: 75px;
        }
    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .image {
            background-image: url("https://raw.githubusercontent.com/dear30/media-pembelajaran/main/assets/welcome/welcometablet.png");
            background-repeat: no-repeat;
            background-position: right top;
            background-attachment: fixed;
            background-size: 100%;
            width: 100vw;
            height: 100%;
            overflow: hidden;
            position: absolute;
    
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .image {
            background-image: url("https://raw.githubusercontent.com/dear30/media-pembelajaran/main/assets/welcome/welcometablet.png");
            background-repeat: no-repeat;
            background-position: top;
            background-attachment: fixed;
            background-size: 100%;
            width: 100vw;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
    
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .image {
            background-image: url("https://raw.githubusercontent.com/dear30/media-pembelajaran/main/assets/welcome/welcomepc.png");
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: 100%;
            width: 100vw;
            height: 100%;
            overflow: hidden;
            position: absolute;
    
        }
}


#myProgress {
    width: 100vw;
    background-color: transparent;
}

#myBar {
    width: 1%;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    bottom: 20px;
    left: 0;
    transition: 2s;
}
#icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    background-image: url('https://raw.githubusercontent.com/dear30/media-pembelajaran/main/assets/welcome/85-camel-walking-cute.gif');
    background-size: cover;
}
button{
    position: absolute;
    z-index: 99;
}
